@import '../../styles/variables';
#body {
  margin-top: 80px;
  background-color: #e1e5ea;
  display: flex;
  color: #f8eaea;
}

#side-panel-container {
  position: fixed;
  overflow: auto;
  margin: 10px;
  height: 100%;
  background-color: $white;
  color: $primary;
  box-shadow: -6px 0px 5px #f8eaea;
}

#heading {
  margin: 20px 17px;
  color: $font-color;
}

.side-item {
  margin: 15px 15px 0px 15px;
  padding: 3px 0;
}

#side-panel-container h4 {
  margin: 15px 0;
}

#category-select {
  width: auto;
  align-items: center;
}
#category-display {
  margin: 3px 18px;
  width: 100%;
}

.item :hover {
  font-weight: bolder;
  color: rgba(34, 1, 110, 0.973) !important;
}
.item {
  margin: 7px 0;
}

#price ul {
  margin: 0 20px;
  padding: 0;
}

#category-display li,
#price li {
  list-style: none;
}

#search input {
  width: 94%;
  height: 23px;
  border-radius: 13px;
  border: 2px solid $primary;
}

#category-display a,
#price a {
  text-decoration: none;
  color: $primary;
}

// Main body elements styling
#body-container {
  width: 100%;
  display: flex;
  margin: 12px 4px;
}

#prod-container {
  width: 100%;
  height: 100%;
  margin-left: 240px;
}

#prod-container li {
  list-style: none;
}

#prod-container li a {
  color: black;
  text-decoration: none;
}

#box {
  margin: 0px 10px 10px 5px;
  background-color: white;
  display: flex;
  align-items: center;
  border: 1px solid #e1e5ea;
}

.box-item {
  margin: 20px;
  color: black;
}

h3 {
  color: $primary !important;
}

.box-item .price-tag {
  font-size: larger;
  color: green;
}
