$font-size: 1.1rem;
$font-family: 'Inter', sans-serif;
$background-color: #eeeded;
$font-color: white;
$primary: rgb(211, 48, 148);
$white: white;
$grey: grey;
$secondary: black;
$primary-dark: rgb(126, 36, 91);
$page-width: 650px;
